@import '../mixins/_breackpoints.scss';

.content-cards {
  padding: 3rem 0;

  @include from-md {
    padding: 3.9rem 0;
  }

  &__box {
    padding: 1rem;
    height: 100%;

    img {
      width: 100%;
      height: auto;
      padding-bottom: 3rem;
    }
  }

  &__title {
    font-size: 3.2rem;
    line-height: 3.2rem;
    text-align: center;
    font-weight: 400;
    color: rgb(var(--color-base-text));
    padding-bottom: 1rem;
    font-family: var(--font-heading);
  }

  &__subtitle {
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    font-weight: 400;
    color: rgb(var(--color-base-text));
    font-family: var(--font-heading);
    padding: 0 1.7rem 1.7rem 1.7rem;
  }

  &__link {
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    color: rgb(var(--color-link));
    margin-bottom: 5rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    display: block;
    font-family: var(--font-link);
  }

  &__swiper {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      z-index: 1;
      width: 3rem;
      height: 100%;
      top: 0;
      right: 0;
      background-image: linear-gradient(270deg, #F4EDE5 0%, rgba(244, 237, 229, 0) 100%);

      @include from-md {
        display: none;
      }
    }
  }
}