.content-cards {
  padding: 3.9rem 0;

  h2 {
    font-size: 8rem;
    line-height: 8rem;
    text-align: center;
    color: rgb(var(--color-foreground));
    margin-top: 0;
    margin-bottom: 6rem;
  }

  &__wrap {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;

    @media screen and (min-width: 990px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &__box {
    padding: 1rem;

    img {
      width: 100%;
      height: auto;
      padding-bottom: 3rem;
    }
  }

  &__title {
    font-size: 3.2rem;
    line-height: 3.2rem;
    text-align: center;
    color: rgb(var(--color-base-text));
    padding-bottom: 1rem;
  }

  &__subtitle {
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    color: rgb(var(--color-base-text));
    padding: 0 2rem 1.7rem 2rem;
  }

  &__link {
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    color: rgb(var(--color-link));
    margin-bottom: 5rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    display: block;
  }
}