@import '../mixins/_breackpoints.scss';

.posters {
  padding: 3.9rem 0;

  &__wrap {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;

    @include from-md {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__box {
    position: relative;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__title {
    font-size: 3.2rem;
    line-height: 3.2rem;
    text-align: center;
    color: rgb(var(--color-base-text));
    padding-bottom: 2rem;
    font-family: var(--font-heading);

    @include from-md {
      font-size: 6.4rem;
      line-height: 6.4rem;
    }
  }

  &__link {
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    color: rgb(var(--color-link));
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    display: block;

    @include from-md {
      font-size: 1.6rem;
      line-height: 1.6rem;
    }
  }

  &__info {
    position: absolute;
    bottom: 0;
    padding: 3.1rem 2.5rem;
    width: 100%;

    @include from-md {
      padding: 4rem 3rem;
    }
  }
}